@using Webdiyer.WebControls.Mvc
@model PagedList<GDKQ.Model.News>
@{
}
<div class="tpl-content-wrapper">
    <div class="row">
        <div class="row">
            <div class="am-u-md-12 am-u-sm-12 row-mb">

                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="note note-info">
                            <h3>
                                @ViewBag.Title
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="wrapper" class="wrapper" style="height:auto;">
                    <a class="am-btn am-btn-secondary" href="/Adm1n/News/Add?bh=@Request.QueryString["bh"]" >添加</a>
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" /></th>
                                <th class="table-id">ID</th>
                                <th class="table-title">标题</th>
                                <th>分类</th>
                                <th>列表图片</th>
                                <th>访问量</th>
                                <th class="table-date am-hide-sm-only">创建日期</th>
                                <th class="table-date">其他链接</th>
                                <th class="table-set">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach (var item in Model)
            {
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>@item.ID</td>
                                    <td>@item.Title</td>
                                    <td>@item.CaName</td>
                                    <td><img src="@item.Photo"></td>
                                    <th>@item.VisitNum</th>
                                    <td class="am-hide-sm-only">@item.CreateTime.ToString("yyyy-MM-dd")</td>
                                    <td>@item.Url</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="/Adm1n/News/Add?bh=@Request.QueryString["bh"]&id=@item.ID"><span class="am-icon-pencil-square-o">编辑</span></a>
                                                <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="/Adm1n/News/Delect?bh=@Request.QueryString["bh"]&id=@item.ID"><span class="am-icon-trash-o"> 删除</span></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <nav>
                            @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageindex", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })
                        </nav>
                    </div>
                    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css" />

                </div>
            </div>
        </div>
    </div>
</div>






